# =========================
# DATA
# =========================

# ignore large data folders
data/raw/
data/*
*.csv

# keep only the sample
!data/sample/
!data/sample/**

# ignore cache 
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore virtual environment and env files
.env/
venv/





